<div class="container card m-auto p-2 w-50">
  <h1 class="text-center p-2 fs-bold">Pet Registration</h1>
  <form class="m-2">
    <div class="mb-3">
      <label for="InputName" class="form-label">Name</label>
      <input type="text" class="form-control" id="InputName" />
    </div>
    <div class="mb-4 d-flex gap-3">
      <div class="col">
        <label for="InputSpecie" class="form-label">Specie</label>
        <input type="text" class="form-control" id="InputSpecie" />
      </div>
      <div class="col">
        <label for="InputAge" class="form-label">Age</label>
        <input type="number" class="form-control" id="InputAge" />
      </div>
    </div>
    <div class="mb-3">
      <select class="form-select " aria-label="Default select example">
        <option selected>Open to select owner</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
