<div class="container card m-auto p-2 w-50">
  <h1 class="text-center p-2 fs-bold">Pet Registration</h1>
  <form [formGroup]="formGroupPet" class="m-2">
    <div class="mb-3">
      <label for="InputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="InputName"
        formControlName="name"
      />
    </div>
    <div class="mb-4 d-flex gap-3">
      <div class="col">
        <label for="InputSpecie" class="form-label">Specie</label>
        <input
          type="text"
          class="form-control"
          id="InputSpecie"
          formControlName="specie"
        />
      </div>
      <div class="col">
        <label for="InputAge" class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          id="InputAge"
          formControlName="age"
        />
      </div>
    </div>
    <div class="mb-3">
      <select
        class="form-select"
        aria-label="Select owners"
        formControlName="owner"
      >
        <option selected [value]="null">Open to select owner</option>
        <option *ngFor="let o of owners" [ngValue]="o">{{ o.name }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="save()">
      Submit
    </button>
  </form>
</div>
