<div class="container m-auto">
  <h1 class="text-center p-2 fs-bold">List of Pets</h1>
  <div class="mb-3">
    <a role="button" class="btn btn-dark" routerLink="/pet/new">New</a>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Specie</th>
        <th scope="col">Age</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>mdo</td>
      </tr>
    </tbody>
  </table>
</div>
